body {
  /* margin-left: 25%; */
  /* margin-right: 25%; */
  font-family: "source sans pro", Arial;
  font-style: italic;
  background-color: black;
  scroll-behavior: smooth;
  color: white;
  font-size: 16px;
  word-wrap: break-word;
  white-space: normal !important;

  /* margin: 0 0 0 0; */
  /* padding: 0 0 0 0; */
  /* height: 100%; */
  /* width: 100%; */
}
td {
  width: 33.3333333%;
  
  border-bottom: dashed;
  border-bottom-width:1px ;
  border-color: rgb(79, 79, 79);
}
th{
    width: 33.3333333%;
  border-bottom: solid;
  border-bottom-width:1px ;
  border-top: solid;
  border-top-width:1px ;
  border-color: rgb(119, 119, 119);
}

iframe {
  display: block;
  border-style: none;
  align: "absmiddle";
  margin: 0 auto;
}
::selection {
  background-color: #c9caca4b;
  color: #80deea;
}
div.endnotes {
  width: 1fr;
  text-align: center;
}
p.endnotes {
  color: rgb(127, 127, 127);
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
strong {
  font-weight: bold;
}
img {
  width: 100%;
}
img.media {
  text-align: center;
  width: 25px;
  margin: 10px 10px 10px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  position: relative;
  font-style: italic;
}

h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
p,
blockquote,
ul,
ol,
dl,
table {
  text-align: left;
}

hr {
  background-color: rgb(255, 255, 255);
  height: 1px;
  border-style: none;
}
a {
  color: white;
  text-decoration: underline;
}

/* Menu Bar */
div.menuBar {
  font-family: Source Sans Pro;
  color: white;
  font-size: 18px;
  font-style: italic;
  position: fixed;
  margin-left: 51.8%;
  margin-top: 10px;
  line-height: 0.5;
  /* border-style: solid;
  border-width: 5px;
  border-color: red; */
}
img.portraits {
  width: 60%;
  margin: auto;
  margin-top: 10%;
  display: flex;

  /* border-style: solid;
    border-width: 5px;
    border-color: red; */
}

a.menuBar {
  color: white;
  font-size: 18px;
  font-style: italic;
}

/* Code block below */
pre {
  display: block;
  white-space: pre-wrap;
  font-style: normal;
}
code {
  font-family: "source sans pro", Arial;
  color: #0e8da1;
}
pre code.codehilite {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.codehilite {
  padding: 3px 5px;
}
.codehilite {
  color: #0e8da1;
}

.codehilite .c {
  color: #0e8da1;
  font-style: italic;
} /* Comment */
.codehilite .err {
  color: rgb(11, 40, 91);
} /* Error */
.codehilite .g {
  color: #0e8da1;
} /* Generic */
.codehilite .k {
  color: #0097a7;
} /* Keyword */
.codehilite .l {
  color: #000000;
} /* Literal */
.codehilite .n {
  color: #16c1d9;
} /* Name */
.codehilite .o {
  color: #0e8da1;
  opacity: 0.7;
} /* Operator */
.codehilite .x {
  color: #000000;
} /* Other */
.codehilite .p {
  color: #0e8da1;
} /* Punctuation */
.codehilite .ch {
  color: #0e8da1;
  font-style: italic;
} /* Comment.Hashbang */
.codehilite .cm {
  color: #0e8da1;
  font-style: italic;
} /* Comment.Multiline */
.codehilite .cp {
  color: #0e8da1;
  font-style: italic;
} /* Comment.Preproc */
.codehilite .cpf {
  color: #0e8da1;
  font-style: italic;
} /* Comment.PreprocFile */
.codehilite .c1 {
  color: #0e8da1;
  font-style: italic;
} /* Comment.Single */
.codehilite .cs {
  color: #0e8da1;
  font-style: italic;
} /* Comment.Special */
.codehilite .gd {
  color: #16c1d9;
} /* Generic.Deleted */
.codehilite .ge {
  color: #16c1d9;
  font-style: italic;
} /* Generic.Emph */
.codehilite .gr {
  color: #16c1d9;
} /* Generic.Error */
.codehilite .gh {
  color: rgb(11, 40, 91);
} /* Generic.Heading */
.codehilite .gi {
  color: rgb(11, 40, 91);
} /* Generic.Inserted */
.codehilite .go {
  color: rgb(11, 40, 91);
  font-style: italic;
} /* Generic.Output */
.codehilite .gp {
  color: rgb(11, 40, 91);
} /* Generic.Prompt */
.codehilite .gs {
  color: #80deea;
} /* Generic.Strong */
.codehilite .gu {
  color: #0e8da1;
} /* Generic.Subheading */
.codehilite .gt {
  color: #80deea;
} /* Generic.Traceback */
.codehilite .kc {
  color: #26c6da;
} /* Keyword.Constant */
.codehilite .kd {
  color: #26c6da;
} /* Keyword.Declaration */
.codehilite .kn {
  color: #26c6da;
} /* Keyword.Namespace */
.codehilite .kp {
  color: #26c6da;
} /* Keyword.Pseudo */
.codehilite .kr {
  color: #26c6da;
} /* Keyword.Reserved */
.codehilite .kt {
  color: #26c6da;
} /* Keyword.Type */
.codehilite .ld {
  color: #b3ebf2;
} /* Literal.Date */
.codehilite .m {
  color: #b3ebf2;
} /* Literal.Number */
.codehilite .s {
  color: #4dd0e1;
} /* Literal.String */
.codehilite .na {
  color: #b3ebf2;
} /* Name.Attribute */
.codehilite .nb {
  color: #207987;
} /* Name.Builtin */
.codehilite .nc {
  color: #80deea;
} /* Name.Class */
.codehilite .no {
  color: #80deea;
} /* Name.Constant */
.codehilite .nd {
  color: #9ac8c9;
} /* Name.Decorator */
.codehilite .ni {
  color: #c3b7ae;
} /* Name.Entity */
.codehilite .ne {
  color: #bfc7ca;
} /* Name.Exception */
.codehilite .nf {
  color: #92b5c4;
} /* Name.Function */
.codehilite .nl {
  color: #00e1ff;
} /* Name.Label */
.codehilite .nn {
  color: #16c1d9;
} /* Name.Namespace */
.codehilite .nx {
  color: #16c1d9;
} /* Name.Other */
.codehilite .py {
  color: #6ca9b1;
} /* Name.Property */
.codehilite .nt {
  font-style: italic;
  color: #16c1d9;
} /* Name.Tag */
.codehilite .nv {
  color: #16c1d9;
} /* Name.Variable */
.codehilite .ow {
  color: #0e8da1;
  opacity: 0.7;
} /* Operator.Word */
.codehilite .w {
  color: #f8f8f8;
} /* Text.Whitespace */
.codehilite .mb {
  color: #b3ebf2;
} /* Literal.Number.Bin */
.codehilite .mf {
  color: #b3ebf2;
} /* Literal.Number.Float */
.codehilite .mh {
  color: #b3ebf2;
} /* Literal.Number.Hex */
.codehilite .mi {
  color: #b3ebf2;
} /* Literal.Number.Integer */
.codehilite .mo {
  color: #b3ebf2;
} /* Literal.Number.Oct */
.codehilite .sa {
  color: #80deea;
} /* Literal.String.Affix */
.codehilite .sb {
  color: #80deea;
} /* Literal.String.Backtick */
.codehilite .sc {
  color: #80deea;
} /* Literal.String.Char */
.codehilite .dl {
  color: #80deea;
} /* Literal.String.Delimiter */
.codehilite .sd {
  color: #0e8da1;
  font-style: italic;
} /* Literal.String.Doc */
.codehilite .s2 {
  color: #80deea;
} /* Literal.String.Double */
.codehilite .se {
  color: #80deea;
} /* Literal.String.Escape */
.codehilite .sh {
  color: #80deea;
} /* Literal.String.Heredoc */
.codehilite .si {
  color: #80deea;
} /* Literal.String.Interpol */
.codehilite .sx {
  color: #80deea;
} /* Literal.String.Other */
.codehilite .sr {
  color: #80deea;
} /* Literal.String.Regex */
.codehilite .s1 {
  color: #80deea;
} /* Literal.String.Single */
.codehilite .ss {
  color: #80deea;
} /* Literal.String.Symbol */
.codehilite .bp {
  color: #8db3e4;
} /* Name.Builtin.Pseudo */
.codehilite .fm {
  color: #8db3e4;
} /* Name.Function.Magic */
.codehilite .vc {
  color: #8db3e4;
} /* Name.Variable.Class */
.codehilite .vg {
  color: #8db3e4;
} /* Name.Variable.Global */
.codehilite .vi {
  color: #8db3e4;
} /* Name.Variable.Instance */
.codehilite .vm {
  color: #8db3e4;
} /* Name.Variable.Magic */
.codehilite .il {
  color: #53828c;
} /* Literal.Number.Integer.Long */

p {
  color: #ededed;
}

/* Print */
@media print {
  @page {
    size: portrait;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
  }
  @page :left {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
  }
  @page :right {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
  }
p{
  color: #000000;
}
  div {
    font-size: 12px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  a {
    color: rgb(0, 0, 0);
  }
  body {
    background: white;
    color: black;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* /* .print-button-container {
    display: none !important;
  } */

  p.endnotes {
    color: rgb(137, 137, 137);
    font-size: 5px;
    font-style: italic;
    text-align: center;
  }
  hr {
    background-color: rgb(0, 0, 0);
    height: 1px;
    border-style: none;
  }

  div.menuBar {
    visibility: hidden;
  }
}
