html {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 16px;
}

body {
  font-family: "source sans pro", Arial;
  font-style: italic;
  background-color: black;
  scroll-behavior: smooth;
  color: white;
}

div.endnotes {
  
  width: 1fr;
  text-align: center;
}
p.endnotes {
  color: rgb(127, 127, 127);
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  position: relative;
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
p,
blockquote,
ul,
ol,
dl,
table {
  text-align: left;
}

hr {
  background-color: white;
  height: 1px;
  border-style: none;
}
a {
  color: white;
  text-decoration: underline;
}

/* Menu Bar */
div.menuBar {
  font-family: Source Sans Pro;
  color: white;
  font-size: 18px;
  font-style: italic;

  position: fixed;
  margin-left: 50%;
  line-height: 0.5;

  /* border-style: solid;
  border-width: 5px;
  border-color: red; */
}
a.menuBar {
  color: white;
  font-size: 18px;
  font-style: italic;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #0097a7;
  background: none;
  font-family: "source sans pro", Arial;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.4;

  -moz-tab-size: 8;
  -o-tab-size: 8;
  tab-size: 8;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 0.8em;
  overflow: auto;
  /* border: 1px solid #ddd; */
  border-radius: 3px;
  /* background: #fff; */
  background: #0a0a0a;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: #0a0a0a;
}

.token.comment,
.token.blockquote {
  color: #095b67;
}

.token.cdata {
  color: #095b67;
}

.token.doctype,
.token.punctuation,
.token.variable,
.token.macro.property {
  color: #16c1d9;
}

.token.builtin{
  color: #0097a7
}

.token.operator,
.token.important,
.token.keyword,
.token.rule {
  color: #b3ebf2;
}

.token.string,
.token.url,
.token.regex,
.token.attr-value {
  color: #b3ebf2;
}

.token.property,
.token.number,
.token.boolean,
.token.entity,
.token.atrule,
.token.constant,
.token.symbol,
.token.command,
.token.code {
  color: #0097a7;
}

.token.tag,
.token.selector,
.token.prolog {
  color: #4dd0e1;
}

.token.function,
.token.namespace,
.token.pseudo-element,
.token.class,
.token.class-name,
.token.pseudo-class,
.token.id,
.token.url-reference .token.variable,
.token.attr-name {
  color: #80deea;
}

.token.entity {
  cursor: help;
}

.token.title,
.token.title .token.punctuation {
  font-weight: bold;
  color: #b3ebf2;
}

.token.list {
  color: #16c1d9;
}

.token.inserted {
  background-color: #0a0a0a;
  color: #095b67;
}

.token.deleted {
  background-color: #0a0a0a;
  color: #095b67;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

/* JSON */
.language-json .token.property {
  color: #16c1d9;
}

.language-markup .token.tag .token.punctuation {
  color: #16c1d9;
}

/* CSS */
code.language-css,
.language-css .token.function {
  color: #0086b3;
}

/* YAML */
.language-yaml .token.atrule {
  color: #16c1d9;
}

code.language-yaml {
  color: #16c1d9;
}

/* Ruby */
.language-ruby .token.function {
  color: #16c1d9;
}

/* Markdown */
.language-markdown .token.url {
  color: #16c1d9;
}

/* Makefile */
.language-makefile .token.symbol {
  color: #16c1d9;
}

.language-makefile .token.variable {
  color: #16c1d9;
}

.language-makefile .token.builtin {
  color: #16c1d9;
}

/* Bash */
.language-bash .token.keyword {
  color: #16c1d9;
}

/* highlight */
pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}
pre[data-line] .line-highlight-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  display: block;
  width: 100%;
}

pre[data-line] .line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #0a0a0a;
  background: #0a0a0a;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

pre[data-line] .line-highlight:before,
pre[data-line] .line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: #0a0a0a;
  color: #16c1d9;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px #16c1d9;
}

pre[data-line] .line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}


element.style {
    background-color: rgb(36, 36, 36);
}
