/* @media screen and (orientation: landscape) { */
/* @media screen and (orientation: portrait) { */

html {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
	width: 100%;
	overflow: visible;
}
body {
	margin-left: 0%;
	margin-right: 0%;
	font-size: 16px;
	background-color: black;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	/* height: 100%; */
	/* width: 100%; */
	overflow: auto;
}

@media screen and (orientation: landscape) {
	body {
		margin-left: 25%;
		margin-right: 25%;
	}
}
/* ::-webkit-scrollbar {
  display: none;
} */
::selection {
	background-color: #c9caca4b;
	color: #80deea;
}

p {
	font-family: Source Sans Pro;
	color: white;
	font-size: 18px;
	font-style: italic;
}

/* HOME */

div.window {
	width: 100%;
	height: 98%;
	display: grid;
	grid-template-columns: 1fr;

	/* border-style: solid;
  border-width: 5px;
  border-color: red; */
}
@media screen and (orientation: landscape) {
	div.window {
		grid-template-columns: 58% 1fr;
	}
}

div.mainMenu {
	vertical-align: top;
	text-align: center;

	/* border-style: solid;
  border-width: 5px;
  border-color: rgb(0, 255, 51); */
}

img.logo {
	width: 60%;
	margin: auto;
	margin-top: 10%;
	display: flex;

	/* border-style: solid;
    border-width: 5px;
    border-color: red; */
}

p.IAMA {
	text-align: center;
	font-size: 30px;
	/* border-style: solid;
  border-width: 5px;
  border-color: red; */
}

a.textWithLink {
	text-align: center;
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	text-decoration: underline;
	font-family: Source Sans Pro;
	font-size: 25px;
	color: white;
	font-style: italic;
}

img.media {
	text-align: center;
	width: 25px;
	margin: 10px 10px 10px 10px;
}

/* PAGES */

/* @media screen and (orientation: portrait) { */
div.mainGuid {
	padding-top: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-columns: 10%;
	margin-top: 0px;
	column-gap: 10px;
	row-gap: 10px;

	width: 100%;

	/* border-style: solid; */
	/* border-width: 5px; */
	/* border-color: red; */
}

div.endnotes {
	width: 1fr;
	text-align: center;
}
p.endnotes {
	color: rgb(127, 127, 127);
	font-size: 16px;
	font-style: italic;
	text-align: center;
}

/* Menu Bar */

div.menuBar {
	font-family: Source Sans Pro;
	color: white;
	font-size: 18px;
	font-style: italic;
	background-color: black;
	position: fixed;
	margin-top: 0px;
	display: flex;
	flex-direction: row;
	line-height: 0.5;
	z-index: 1;
	width: 100%;
	align-items: center;
	column-gap: 10px;

	overflow-x: auto;
	scrollbar-width: none; /* firefox */
	-ms-overflow-style: none; /* IE 10+ */

	/* border-style: solid;
  border-width: 5px;
  border-color: red; */
}
div.menuBar::-webkit-scrollbar {
	display: none; /* Chrome Safari */
}

@media screen and (orientation: landscape) {
	div.menuBar {
		display: block;
		margin-left: 51%;
		margin-top: 4px;
		/* border-style: solid;
  border-width: 5px;
  border-color: red; */
	}
}

a.menuBar {
	color: white;
	font-size: 18px;
	font-style: italic;
	flex: 1;

	border-width: 1px;
	border-style: dotted;
	border-color: gray;
}
@media screen and (orientation: landscape) {
	a.menuBar {
		border-style: none;
		text-align: left;
		font-size: 18px;
	}
}

a.menuBarLink {
	color: rgb(127, 127, 127);
	font-size: 15px;
	font-style: italic;
}

div.item {
	position: relative;
	text-align: center;
}
img.item_image {
	width: 100%;
	filter: drop-shadow(0px 0px 10px #0e8da178);

	/* border-style: solid; */
	/* border-width: 10px; */
	/* border-color: rgb(55, 55, 55); */
}

p.item_name {
	margin-block-start: 0;
	
	position: absolute;
	opacity: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	color: white;
	word-wrap:break-word;
	

	

	/* border: red; */
	/* border-style: solid; */
	/* border-width: 1px; */
}
p.item_name:hover {
    opacity: 1;
	background-color: rgba(0, 0, 0, 0.825);

}
