/* This a special .css for https://md.openwrite.cn/ */

h1,
h2,
h3,
h4,
h5,
h6,
image,
blockquote,
blockquote_p,
p,
hr,
codespan,
link,
wx_link,
ol,
ul,
li,
code {
  font-family: Source Sans Pro, Arial;
  font-style: italic;
  scroll-behavior: smooth;
  color: black;
  font-size: 14px;
  word-wrap: break-word;
  background: none;
  text-decoration: none;
  border-bottom: none;
  text-align: left;
  border-radius: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 0.8em;
}
h4 {
  font-size: 0.6em;
}
h5 {
  font-size: 0.5em;
}
h6 {
  font-size: 0.4em;
}
blockquote,
blockquote_p{
  background: #f4f4f4;
  padding: 0%;
  
}
image {
  width: 100%;
}

/* 分割线样式 */
hr {
  color: black;
}

/* 粗体样式 */
strong {
  font-weight: bold;
  font-family: Source Sans Pro, Arial;
  color: black;
}
/* 链接样式 */ /* 微信链接样式 */
link,
wx_link {
  text-decoration: underline;
}

::selection {
  background-color: #c9caca4b;
  color: #80deea;
}

p,
blockquote,
ul,
ol,
dl,
table {
  text-align: left;
}

hr {
  background-color: black;
  height: 1px;
  border-style: none;
}
a {
  color: black;
  text-decoration: underline;
}
code{color: #0e8da1; background:#00000009; font-style:normal }